body {
  padding-top: 60px;
  padding-bottom: 40px;
}
#userActions {
  display: list-item;
}
#signOutLink {
  display: inline-block;
  padding: 10px 15px 10px;
  color:#999999;
}
#signOutLink:hover{
  color:#fff;
}
.logInForm{
  margin-right: 4px;
}